@font-face {
    font-family: 'fraunces';
    src: url(/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('ttf'),
    url(/fonts/manrope/Manrope-VariableFont_wght.ttf) format('ttf');

}
body {
    font-family: "Manrope", sans-serif;
    /* font-family: "Fraunces",serif ; */
    --green: #44FFA1;
    --purple-900: #24053E;
    --purple-500: #584D62;
    --purple-100: #FCF8FF;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
} 
/* hero-section space */
.container .hero-section {
    background-color: var(--purple-900);
    }   

/* Nav Space */
.hero-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    width: 100%;
}
.btn {
    border: none;
    background: none;
}
.btn .link {
    text-decoration: none;  
    color: var(--purple-100);
    font-size: 18px;
    line-height: 1.8;
    position: relative;
    letter-spacing: 0px;
}
.btn .link::after {
    content: '';
    position: absolute;
    width: 130px;
    height: 3px;
    bottom: -30%;
    left: 0;
    background-color: var(--green);
}

/* Header Section */

.button  {
    background-color: transparent;
    background-color: var(--green);
    color: var(--purple-900);
    font-weight: bold;
    border: none;
}
.button .linker {
    text-decoration: none;
    color: var(--purple-900);
}
.button:hover {
    cursor: pointer;
    color: var(--green);
    background-color: var(--purple-900);
    border: 1px solid var(--green);
}
.header-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
}
.header-section header {
    font-family: "Fraunces",serif;
    color: var(--white);
    text-align: center;
}
header span {
    position: relative;
}
.header-section header span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--green);
}
.header-section .button {
    padding: 12px 32px;
    font-size: 18px;
}
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section img {
    z-index: 1;
}
.hero-section::after {
    content: "";
    position: absolute;
    top: 79%;
    bottom: 0;
    left: 0;
    background-image: url(../assets/images/bg-hero-bottom.svg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 72px;
}
/* Main Section */
.main {
    display: grid; 
    justify-content: center;    
    text-align: center;
}
.order-list {
    display: grid;
}
.order-list .list {
    width: 48px;
    height: 48px;
    font-size: 18px;
}
.order-list h2 {
    font-family: var(--second-font);
    color: var(--purple-900)
}
.order-list .list {
     border: 1px solid var(--purple-500);
    border-radius: 50%;
    color: var(--purple-900);
    font-family: var(--second-font);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main div p {
    color: var(--purple-900);
    line-height: 1.8;
    letter-spacing: 0px;
}
.foun-section {
        display: flex;
}
.foun-section .foun-image img {
    width: 280px;
    height: 280px;
}
.foun-section .box {
    display: flex;
    background-color: var(--purple-900);
    color: var(--white);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    flex-shrink: 0  ;
    height: 393px;
    width: 335px;
    margin-top: -48px;
}
.box h2 {
    font-family: var(--second-font);
}
.box p {
    padding: 8px;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
}
.box .btn-box .foun-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--purple-900);
    border: none;
}
.box .btn-box {
    font-weight: bold;
    color: var(--purple-900);
    border: none;
    background: none;
    background: var(--green);
    padding: 12px 32px;
}
footer {
    display: grid;
    place-content: center;
    height: 260px;
    width: 100%;
    padding: 80px;
}
.footer a:nth-child(1) {
    padding-bottom: 56px;
}
/* Footer Section */
footer .footer {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
}
.footer a:nth-child(1) {
    display: grid;
    grid-column: 1 / -1;
}
/* ******************************** */

/* Media Queries */


@font-face {
    font-family: 'fraunces';
    src: url(/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('ttf'),
    url(/fonts/manrope/Manrope-VariableFont_wght.ttf) format('ttf');

}
body {
    font-family: "Manrope", sans-serif;
    --second-font: "Fraunces",serif ;
    --green: #44FFA1;
    --purple-900: #24053E;
    --purple-500: #584D62;
    --purple-100: #FCF8FF;
    --white: #FFFFFF;
    transition: all 1s;
}

* {
    transition: all 0.3s;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* mobile margin wraper */
.m-margin {
    margin-top: 112px;
}
.container {
    overflow: hidden;
}    
/* Small-Screens Media Query  */
@media (max-width : 767px) {
    .container {
        width: 100%;
    }
    /* hero-section space */
    .container .hero-section {
    height: 481px;    
    }
    .hero-section nav {
    padding: 32px 20px 0;
    }
    nav img {
    width: 96px;
    height: 25px;
    }
    .container .hero-section:after {
        top: 51.5%;
    }
.header-section {
    gap: 40px;
    padding: 56px 20px 0px;
}

.header-section header {
    font-size: 48px;
} 
.header-section header span:after {
    width: 151px;
    height: 3px;
}
.image-section {    
    width: 360px;
    height: 184px;  

}
.image-section img {
            width: 300px;
        height: 180px;
}
/* main section */
.main {
    grid-template-columns: 1fr;
    margin: 64px 20px 112px;
}
.main .order-list {
    display: grid;
    gap: 24px;
    margin-top: 2rem;
}
.main div {
    display: grid;
    grid-template-rows: repeat(3,auto);
    place-items: center;
    gap: 20px;
}
.main div p {
    margin-bottom: 20px;
}
/* Founder Section */
.foun-section {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.box h2 {
    font-size: 32px;   
}

.box .btn-box .foun-link {
    font-size: 16px;
    font-weight: bold;
}
.box .btn-box {
    padding: 8px 16px;
    font-size: 16px;
    height: 53px;
}
footer .footer {
    height: 100px;
    width: 116px;
}

footer .footer a img.logo{
    height: 25px ;
    width: 96px;
}
.footer a:not(:nth-child(1)) img{
    width: 25px;
    height: 25px;
}
}
/* Tablet Media Query   */
@media (min-width : 768px){
.hero-section {
    height: 676px;
}
.hero-section::after {
 top: 59%;
}
.hero-section nav {
    padding: 32px 44px 0px;
}
.hero-section nav img {
    width: 96px;
    height: 25px;
}
.hero-section nav .btn  {
    width: 143px;
    height: 35px;
}
.header-section {
    gap: 40px;
    padding: 56px 40px 0px;
    position: relative;
}
/* 
        content: '';
        position: absolute;
        right: 220px;
        top: 0;
        bottom: 100%;
        width: 100%;
        height: 100%;
        background-image: url(assets/images/bg-pattern-1.svg);
        background-repeat: no-repeat; */

        /* 
        gap: 40px;
        padding: 56px 40px 0px;
        position: relative; */
.header-section::before {
    content: '';
    position: absolute;
    right: 220px;
    top: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/bg-pattern-1.svg);
    background-repeat: no-repeat;
}
.header-section::after {
    content: '';
    position: absolute;
    left: 90%;
    bottom: 10%;
    top: 30%;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
}
.header-section header {
    font-size: 60px;
}
.header-section header span:after {
    width: 183px;
    height: 3px;
}
.linker .button  {
    font-size: 18px;
    margin-bottom: 16px;
}
.hero-section .center {
    padding: 0px 44px;
}
.image-section img {
    width: 514px;
    height: 296px;
}
.image-section {
    margin: 56px 80px 0;
}
.main {
    margin: 112px 44px 44px;
    
}
.main div {
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,auto);
    text-align: left;
    width: 680px;
    height: 120px;
}
.main div p {
    grid-column: 2 / 3;
    padding-top: 28px;
}

.main .order-list h2 {
    font-size: 28px;
}
.order-list {
    gap: 32px;
}
.order-list p {
    font-size: 16px;
}
.order-list .list {
    margin-right: 56px;
    grid-row: 1 / 3;
    align-self: center;

}
.foun-section {
    width: 100%;
    height: 667px;
    padding: 112px 44px 0px;
    justify-content: start;
}
.foun-section .box {
    align-items: start;
    padding: 48px;
    width: 504px;
    height: 390px;
    margin-top: 168px;
    margin-left: -100px;
    position: relative;
}
.foun-section .box::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 75%;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    }
.box h2 {
    font-size: 48px;   
}
.box p {
    text-align: left;
}
.box .foun-link .btn-box  {
    font-size: 18px;
}
footer .footer {
    margin: 80px auto;
    width: 116px;
    height: 100px;
}
}

/* Desktop"Large Screens" Media Query */
@media (min-width: 1220px) {
.hero-section {
   max-height: 600px;
        width: 100%;
}
.hero-section::after {
    top: 80%;  
}

.btn .link:hover {
    color: var(--green);
}
.container .hero-section nav{
padding: 56px 80px 0;
}
.header-section {
    height: 608px;
    margin: 56px 80px 0;
    gap: 40px;
    position: relative;
    padding: 0px;
}
.header-section header {
    font-size: 80px;
}
.header-section header span:after {
    width: 243px;
    height: 3px;
}
.header-section .linker .button {
    padding: 12px 32px;
    margin-bottom: 16px;
    height: 56px;
}
.image-section {
    margin: 0;
}
.image-section img {
    width: 600px;
    height: 350px;
}

.header-section .linker .button:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--green);
}

.header-section::before {
    content: '';
    position: absolute;
    right: 90.4%;
    top: 0%;
    width: 25%;
    height: 100%;
    background-image: url(/assets/images/bg-pattern-1.svg);
    background-repeat: no-repeat;
}
.header-section::after {
    content: '';
    position: absolute;
    left: 96.5%;
    bottom: 10%;
    top: 30%;
    width: 10%;
    height: 100%;
    background-image: url(/assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
}
.main {
    height: 538px;
    padding:  176px 80px 144px;
}
.main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 352px;
    height: 306px;
    align-items: center;
    text-align: center;
}
.main .order-list {
    grid-template-rows: repeat(1,auto);
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 1120px ;
    height: 306px;
}
.order-list .list {
    width: 56px;
    height: 56px;
    margin: 0px auto 56px;
    font-size: 24px;
}
.main .order-list h2 {
    font-size: 32px;
    margin-bottom: 28px;
}
.main .order-list p {
    font-size: 18px;
    height: 128px;
    padding: 0;
}
.foun-section {
    width: 100%;
    height: 691px;
    padding: 112px 80px 0   ;
    margin: 0;
    align-items: end;
}
.foun-image {
    height: 579px;
    width: 447px;
}
.foun-image img {
    width: 447px !important;
    height: 447px !important;
}
.foun-section .box {
    width: 730px;
    height: 411px;
    padding: 64px;
    align-items: flex-start;
    margin-left: -70px;
    position: relative;
}
.box h2 {
    font-size: 56px;
}
.box p {
    font-size: 18px;
    text-align: left;
}
.box .foun-link .btn-box  {
    font-size: 18px;
}
.box .btn-box:hover {
    background-color: transparent;
    color: var(--green);
    cursor: pointer;
    border: 1px solid var(--green);
}
.foun-section .box::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 75%;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/bg-pattern-3.svg);
    background-repeat: no-repeat;
    }
    footer .footer {
        width: 116px;
        height: 100px;
    }
    .footer a img{
        color: var(--purple-500);
        cursor: pointer;
        filter: grayscale(100%);
        transition: filter 0.3s ease, transform 0.3s ease;
    }
    .footer a img:hover {
       filter: grayscale(0%) brightness(150%);
    }
}
/* icon grayscale hover:grayscale-0 hover:brightness-150 transition */